body{
  font-family: 'GillSansMT';
}
#sidebar-wrapper{
  background-color: #d6d6d9;
}
.gallery-home a{
  background: #ff6662 url('http://static.dunkedcdn.com/templates/mesh/1/images/pattern.png') repeat;
  display: inline-block;
}
.gallery-home a img:hover{
  opacity: 0.6;
}
.gallery-home .title{
}
/*=====  Projects Feed =====*/
.projects-feed .project-title {
  color: #F5F5F5;
  display: none;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 42.5%;
  width: 100%;
}
.logo{
  background: white;
  padding: 40px 0;
  color: #555a60;
}
.logo h4{
  font-family: 'JapaBrush';
}
.logo p{
  font-family: 'GillSansMT';
}
.side-menu{
  margin-top: 30px;
}
.side-menu ul a {
  text-decoration: none;
}
.side-menu ul a li{
  margin-top: 8px;
  background: url('../images/menu-cinza.png') no-repeat;
  width: 229px;
  height: 47px;
  font-size: 17px;
  color: white;
  padding-top: 13px;
  font-family: 'GillSansMT';
  font-weight: lighter;
}
.side-menu ul a li:hover{
  background: url('../images/menu-red.png') no-repeat;
  width: 229px;
  height: 47px;
  text-decoration: none;
  color: white;
  outline: none;
}
/*body{
  background: white;
}
.logotipo img{
  margin-top: 40px;
}
.japa-name{
  font-family: 'JapaBrush';
  color: #555a60;
}
.japa-function{
  font-size: 10px;
  color: #555a60;
}
.gray-menu{
  background-color: #d6d6d9;
  margin-top: 20px;
  padding: 20px;
}
.gray-menu a, .gray-menu a:hover{
  text-decoration: none;
}
.menu-red, .menu-cinza{
  width: 229px;
  height: 47px;
  margin: 0 auto;
}
.menu-red p, .menu-cinza p{
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding-top: 15px;
  font-family: 'GillSansMT';
}
.menu-cinza{
  margin-top: 5px;
  background-image: url('../images/menu-cinza.png');
  background-repeat: no-repeat;
}
.menu-cinza:hover{
  margin-top: 5px;
  background-image: url('../images/menu-red.png');
  background-repeat: no-repeat;
}
.text-tags-title{
  font-family: 'GillSansMT';
  font-size: 12px;
  color: #555a60;
}
.tag-list{
  color: #232227;
  font-family: 'GillSansMT';
  font-size:  17px;
}*/