body{
  font-family: 'GillSansMT';
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0;
  padding-left: 0;
}
#sidebar-wrapper{
  background-color: #d6d6d9;
}
.home-gallery a{
  background: #ff6662 url('../images/pattern.png') repeat;
  display: inline-block;
}
.home-gallery a img{
}
.home-gallery a img:hover{
  opacity: 0.2;
}

.gallery {
    position: relative;
    width: 400px;
    -webkit-transition: all .2s;
}
.gallery:hover {
    width: 500px;
}
.caption {
    display:none;
    font-size: 28px;
    position:absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    margin: 0 auto;
    display: table;
    background: rgba(255, 255, 255, 0.75);
}

.caption p {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}


.logo{
  background: white;
  padding: 40px 0;
  color: #555a60;
}
.logo h4{
  font-family: 'JapaBrush';
}
.logo p{
  font-family: 'GillSansMT';
}
.side-menu{
  margin-top: 30px;
}
.side-menu ul a {
  text-decoration: none;
}
.side-menu ul a li{
  margin-top: 8px;
  background: url('../images/menu-cinza.png') no-repeat;
  width: 229px;
  height: 47px;
  font-size: 17px;
  color: white;
  padding-top: 13px;
  font-family: 'GillSansMT';
  font-weight: lighter;
}
.side-menu ul a li:hover{
  background: url('../images/menu-red.png') no-repeat;
  width: 229px;
  height: 47px;
  text-decoration: none;
  color: white;
  outline: none;
}
.side-tags{
  width: 228px;
  margin: 0 auto;
}
.side-tags ul li a, #sidebar-wrapper p{
  color: #555a60;
}
/*=====  About Page =====*/
.about-page h1, .contact-page h1, .work-page h1{
  font-family: 'JapaBrush';
  color: #ff6662;
}
.about-page p{
  color: #555a60;
  font-size: 20px;
}
.work-page ul li span, .contact-page ul li span{
  color: #ff6662;
  font-size: 20px;
  font-weight: bold;
}
.contact-page ul li a{
  font-size: 20px;
}
video {
  width: 100%;
  max-height: 100%;
}
.still-gallery img{
  width: 450px;
}